doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Build Wars: Gulp vs Grunt

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.display
        h1 아조씨 
        br 
        h1 머신러닝이 뭐에요?
        .profile 
          img.avatar.avatar--small.pic(src='http://i.imgur.com/inAyW0L.jpg')
          
          h3 윤신필립
        .profile 
          img.avatar.avatar--small.pic(src='http://i.imgur.com/oDpDJ9H.jpg')
          
          h3 정지운

      section.light(data-bespoke-state='green')
        h2 기존의 인공지능
        p 알고있던 지식 -> 데이터베이스화

      section.gif.gif--hey
        h2 완벽한 노예가 되어라

      section
        h1.green Machine Learning

      section.gif.gif--siri
        h1.red 콤퓨타 = 닝겐

      section
        h2.bullet 기능
        ul
          li 
            h1.green - 분류
          li
            h1.green - 군집화
      section
        img.hundred(src='http://blog-imgs-47.fc2.com/y/a/r/yaraon/lib754904.jpg')

      section
        img.hundred(src="images/a.png")

      section.gif.gif--surprise
        h1 우아 정말 데단헤

      section.gif.gif--master
        h1 주인님.. 
        br
        h1 어떻게한거에요?

      section.gif.gif--smile

      section.gif.gif--typing
        h1 지도 학습

      section
        h2.bullet 장점
        ul
          li 
            h2.green 정확도가 높은 데이터
      section
        h1 근데

      section.gif.gif--fuck
        h1 넘나 귀찮은것 ^^

      section.gif.gif--stop
        h1 비지도 학습

      section.gif.gif--gulp-api
        h1 편하다

      section
        h1.bullet 강화학습
        p 현재의 상태에서 어떤 행동을 취하는것이 최적인가?

      section
        img.hundred(src="http://file.instiz.net/data/file/20140414/7/c/4/7c41fa76ac960b6dae9d7d474454331c.jpg")

      section
        h1.bullet 딥러닝?
        p 인공신경망을 사용하여 강화학습

      section
        img.hundred(src="https://deepmind.com/css/images/opengraph/alphago-logo.png")

      section
        img.hundred(src="http://i.imgur.com/Lal3psf.png")

      section
        img.hundred(src="http://www.wired.com/wp-content/uploads/2015/10/P10108032-582x437.jpg")

      section.gif.gif--skynet
        h1 끝


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
